## Introduction to deep learning - Part A

<b>Project planning</b>

- Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error  as the loss function.

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

2. Train the model on the training data using 50 epochs.

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

5. Report the mean and the standard deviation of the mean squared errors.

In [1]:
#importing libraries
import keras
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.utils import to_categorical

In [2]:
from keras.layers.convolutional import Conv2D # to add convolutional layers
from keras.layers.convolutional import MaxPooling2D # to add pooling layers
from keras.layers import Flatten # to flatten data for fully connected layers

In [3]:
#Read dataset into pandas dataframe
#importing pandas and numpy
import pandas as pd
import numpy as np
concrete_data=pd.read_csv('concrete_data.csv')
concrete_data.head(5)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
# explore data
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
#checking for missing values
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
#Split data into predictors and target
concrete_data_columns = concrete_data.columns
predictors=concrete_data[concrete_data_columns[concrete_data_columns!='Strength']]
target=concrete_data['Strength'] # Strength column
n_cols = predictors.shape[1] # number of predictors

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
#determining the predictores_norm part
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()
n_cols = predictors_norm.shape[1] # number of predictors

#I think normalisation was not required in this stage.

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
#define regression model
def regression_model():
  model=Sequential()
  model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
  model.add(Dense(1))
   # Compile model
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [12]:
# import scikit-learn in order to randomly split the data into a training and test sets
from sklearn.model_selection import train_test_split
#Splitting the data into a training and test sets by holding 30% of the data for testing
X_train,X_test,y_train,y_test = train_test_split(predictors,target,test_size=0.3,random_state = 42)

In [13]:
# build the model
model = regression_model()

In [14]:
# train the model for 50 epochs.
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 710us/step - loss: 7117.3252
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 4197.4551
Epoch 3/50
23/23 [==============================] - 0s 479us/step - loss: 2432.6001
Epoch 4/50
23/23 [==============================] - 0s 710us/step - loss: 1456.1111
Epoch 5/50
23/23 [==============================] - 0s 710us/step - loss: 844.2634
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 544.1783
Epoch 7/50
23/23 [==============================] - 0s 728us/step - loss: 423.0687
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 363.9695
Epoch 9/50
23/23 [==============================] - 0s 710us/step - loss: 325.4076
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 297.7594
Epoch 11/50
23/23 [==============================] - 0s 801us/step - loss: 281.7269
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 263.5803
Epoch 13/50
23/23 [==============================] - 0s 710us/step - loss: 247.0672
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 235.4312
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 232.0542
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 217.4534
Epoch 17/50
23/23 [==============================] - 0s 710us/step - loss: 205.9248
Epoch 18/50
23/23 [==============================] - 0s 710us/step - loss: 199.2465
Epoch 19/50
23/23 [==============================] - 0s 712us/step - loss: 192.4542
Epoch 20/50
23/23 [==============================] - 0s 802us/step - loss: 184.8822
Epoch 21/50
23/23 [==============================] - 0s 710us/step - loss: 179.9058
Epoch 22/50
23/23 [==============================] - 0s 1ms/step - loss: 170.1064
Epoch 23/50
23/23 [==============================] - 0s 710us/step - loss: 166.7701
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 159.7224
Epoch 25/50
23/23 [==============================] - 0s 710us/step - loss: 154.8210
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 154.3116
Epoch 27/50
23/23 [==============================] - 0s 709us/step - loss: 149.5284
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 143.3715
Epoch 29/50
23/23 [==============================] - 0s 710us/step - loss: 140.4384
Epoch 30/50
23/23 [==============================] - 0s 712us/step - loss: 137.4732
Epoch 31/50
23/23 [==============================] - 0s 708us/step - loss: 139.4540
Epoch 32/50
23/23 [==============================] - 0s 755us/step - loss: 137.9568
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 132.0205
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 131.0097
Epoch 35/50
23/23 [==============================] - 0s 902us/step - loss: 127.9571
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 128.8983
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 126.0055
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 123.2712
Epoch 39/50
23/23 [==============================] - 0s 728us/step - loss: 124.9195
Epoch 40/50
23/23 [==============================] - 0s 710us/step - loss: 120.6438
Epoch 41/50
23/23 [==============================] - 0s 710us/step - loss: 125.0648
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 125.0468
Epoch 43/50
23/23 [==============================] - 0s 710us/step - loss: 120.1681
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 120.7849
Epoch 45/50
23/23 [==============================] - 0s 708us/step - loss: 122.5975
Epoch 46/50
23/23 [==============================] - 0s 847us/step - loss: 118.7767
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 118.8332
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 119.2451
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 116.1901
Epoch 50/50
23/23 [==============================] - 0s 711us/step - loss: 113.9750

In [15]:
#evaluate the model on the test data.
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 1s 0s/step - loss: 110.8397

110.83971405029297

In [16]:
# import the mean_squared_error function from Scikit-learn.
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

110.83973625591479 0.0

In [17]:
#Creating a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

MSE 1: 62.12901306152344
MSE 2: 59.876800537109375
MSE 3: 45.06080627441406
MSE 4: 52.89471435546875
MSE 5: 47.748470306396484
MSE 6: 54.396602630615234
MSE 7: 54.290435791015625
MSE 8: 46.92502212524414
MSE 9: 45.429569244384766
MSE 10: 57.875709533691406
MSE 11: 44.17998504638672
MSE 12: 46.3118782043457
MSE 13: 55.25089645385742
MSE 14: 57.90434646606445
MSE 15: 47.2811164855957
MSE 16: 50.050071716308594
MSE 17: 42.88761901855469
MSE 18: 48.87677764892578
MSE 19: 39.879093170166016
MSE 20: 44.6395263671875
MSE 21: 44.723182678222656
MSE 22: 41.29798889160156
MSE 23: 41.59867858886719
MSE 24: 42.39522171020508
MSE 25: 49.28169250488281
MSE 26: 55.28157424926758
MSE 27: 49.82896423339844
MSE 28: 43.7025032043457
MSE 29: 52.85347366333008
MSE 30: 52.3370246887207
MSE 31: 50.66897201538086
MSE 32: 40.18682861328125
MSE 33: 49.14468765258789
MSE 34: 44.47875213623047
MSE 35: 52.70805358886719
MSE 36: 48.756752014160156
MSE 37: 49.24168014526367
MSE 38: 77.69469451904297
MSE 39: 41.54196548461914
MSE 40: 41.53972625732422
MSE 41: 51.91862106323242
MSE 42: 44.76850891113281
MSE 43: 54.71453857421875
MSE 44: 58.094512939453125
MSE 45: 54.158878326416016
MSE 46: 54.68912887573242
MSE 47: 51.20097732543945
MSE 48: 47.378292083740234
MSE 49: 46.828285217285156
MSE 50: 50.6097412109375

In [18]:
print('\n')
print("this is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

this is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 49.750246680552465
Standard Deviation: 6.746075838450569